* {
    box-sizing: border-box;
}

.bt1 {
    display: flex;
    justify-content: space-between;
}

.bt1-left {
    display: flex;
    gap: 10px;
}

.box-small {
    width: 100px;
    height: 100px;
    display:flex;
}

.box-title {
    align-self: flex-end;
    width: 100%;
    text-align: center;
    background-color: #cccccc7a;
}


.box-large {
    width: 300px;
    height: 300px;
    display: flex;
}

.box-info {
    align-self: flex-end;
}